.home {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.recentlyAdded {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 26rem), 1fr));
  gap: var(--spacing-24);
}
